@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  display: flex;
  flex-direction: column;
}
